*{
    margin:0%;
    padding:0%;
}
header{
    display: flex;
    flex-direction:row;
    width: 100%;
    background-color: black;
    height: 50px;
}
header nav{
    margin-left: 15%;
    margin-top: 1%;
    width: 100%;
}
header p{
    margin-left: 2%;
    margin-top: 10px;
    color:white;
    width: 100%;
    font-size: 1.4vw;
}
header nav a{
    margin-left: 3%;
    color:white;
    text-decoration: none;
    font-size: 1.3vw;
}
.header_logo{
    display: none;
}
.sectionInterface{
    background-image: url(./../img/persone.jpg);
    width: 100%;
    height: 560px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.nom{
    font-size: 4vw;
}
.professionnels{
    font-size:3vw;
}
section {
    width: 100%;
    /* height: 300px; */
}
section h1{
    margin-top: 3%;
    text-align: center;
    font-size: 2vw;
}
section h2{
    /* margin-top: 3%; */
    text-align: center;
    font-size: 2vw;
}
.listeProjets{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /* width: 80%; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    border: solid;
    gap: 50px 50px;
}
.elementListeProjets{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    border:solid 1px;
}
.elementListeProjets_img{
grid-column: 2/3;
grid-row: 1/2;
background-color:blue;
border-radius:60px;
width:100%;
height: 8vw;
display: flex;
justify-content: center;
align-items: center;
}
.elementListeProjets_img img{
    width: 40%;
    height: 40%;
}
.elementListeProjets_lable{
grid-column:1/4;
grid-row:2/3;
text-align:center;
}
.sectionCompetences{
    
    width: 100%;
    height: 300px;
}
.listeCompetences{
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}